.user {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 5px 10px;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 8px;
  

  &:hover{
    background-color: rgb(227, 242, 255);
  }
  .user-details {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  img {
    width: 40px;
    height: 40px;
    border: 1px solid orangered;
    border-radius: 50%;
    background: white;
  }
  .name {
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
  }
  button {
    border: none;
    padding: 7px 10px;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    color: white;
    background: orangered;
    margin-right: 15px;

    &:active {
      transform: scale(1.088);
      background-color: white;
      border: 1px solid black;
      color: orangered;
    }
  }
}
a {
  color: black;
  text-decoration: none;
}
